*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    color: #242424;
}
h2{font-size: 2.2em;
  color: #242424;}
#logos{
    background-color: #fff;
    height: 105px;
    padding: 10px;
    line-height: 80px;
}
#logos #logo1 img{
    width: 110px;
    height: auto;
    margin: 0px 0px 30px 200px;
}
#logoleft{
    float: right;
    margin: 15px 80px 0px 0px;
}
#logos #logoFb img, #logos #logoIg img{
    width: 30px;
    height: auto;
    margin-left: 15px;  
}
#logos #logoFb img:hover, #logos #logoIg img:hover{
  transform: scale(0.9);
}
#navigation{
    height: 75px;
    background-color: #721723;
   
    position: sticky;
    transition: all 0.5s;
    z-index: 997;
}
#navigation.header-scrolled, #navigation.header-fixed {
    height: 75px;
    background-color: #950014;
    opacity: 1;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    width: 100%;
  }
.menu{
    float: left;
    display: flex;
    list-style-type: none;
    line-height: 70px;
}
ul.menu li{
    margin-left: 180px;
  
}
ul.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    opacity: 0.8;
    padding: 5px;
}
li #link-contact{
  background-color: #fff;
  padding: 5px 15px 8px 15px;
  color:#bc0a0a;
  opacity: 1;
  border-radius: 10px;
  font-weight: 600;
}
li #link-contact:hover{
  background-color:#6f0312;
  border: 3px solid #fff;
  padding: 3px 15px 6px 12px;
  color:#ffffff;
  animation: none;
  transition: all .2s;
  
}
@keyframes bordure{
  from{border-bottom: 1px solid #fff;}
  to{border-bottom: 4px solid #fff;}
}
ul.menu .link a:hover{
  transition: all .5s;
  -moz-transition: all .2s;
  animation: bordure .2s cubic-bezier(0, 0, 0, 1.14);
  border-bottom: 4px solid #fff;
  opacity: 1;
}
ul.menu .link a.actif{
  border-bottom: 4px solid #fff;
  opacity: 1;
}
ul.menu .link a.actif:hover{
  animation: none;
}
/**dropdownmenu**/
.menu #dropdownElement {
 position: relative;
}
@keyframes display{
  from{top: 55px;}
  to{top: 70px;}
}
#dropdownElement .dropdownMenu {
  position: absolute;
  display: none;
  top: 70px;
  left: -50px;
  background-color: #9c1527;
  border-radius: 15px;
  width: 210px;
  line-height: 10px;
  padding-top: 25px;
  animation: display .5s cubic-bezier(0, 0.59, 0, 1.22);
}
#dropdownElement #linkMenu{
  padding:0px 5px 25px 5px;
  opacity:0.8;
 }
 #dropdownElement #linkMenu:hover{
  opacity:1;
 }
#dropdownElement .dropdownMenu li{
 list-style-type: none;
 margin-left: 0px;
 text-align: left;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
 text-align: center;
 padding: 15px 0px;
 width: 97%;
 transition: all .3s;
}
#dropdownElement .dropdownMenu li:hover{
  background-color: #c73d4fe7;
  border-radius: 10px;
 }
#dropdownElement .dropdownMenu li a{
  font-size: 17px;
  padding: 10px;
 }
 #dropdownElement .dropdownMenu li a:hover{
  border: none;
  animation: none;
  opacity: 1;
  
 }
.back-to-top {
  position: fixed;
  display: none;
  background: #f82249;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
}

.back-to-top img {
    width: 40px;
    height: 40px;
  padding-top: 6px;
  z-index: 1;
}
.back-to-top:focus {
  background: #e0072f;
  outline: none;
}

.back-to-top:hover {
  background: #e0072f;
}
/*Css section banner*/
div.banner{
  position: relative;
  
}
.banner .Imgbanner{
  width: 100%;
}

.banner .msgBanner{
  position: absolute;
  top: 25%;
  left: 15px;
  font-size: 2.6em;
  font-family: Verdana, sans-serif;
  width: 50%;
}
.banner .msgBanner p{
  color:#bc0a0a;
  opacity: 0.9;
  margin-bottom: 7%;
}
.banner .msgBanner p .comm,.msgBanner p .abst{
  color:#770707;
  font-weight: 600;
  font-size: 1.1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner .msgBanner .link-service{
 font-size: 19px;
 text-decoration: none;
 color: #bc0a0a;
 text-align: center;
 background-color: #f8c426;
 border-radius: 15px;
 padding: 15px;
 margin-left:30%;
}
.banner .msgBanner .link-service:hover{
  background-color: #ffffff;
  border: 3px solid #bc0a0a;
  border-radius: 15px;
  padding: 13px;
  transition: all .2s;
 }
 .service-annonce{
  margin: 100px 0px;
}
.service-annonce .msg-annonce{
 text-align: center;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
 font-size: 22px;
 color:#4b4b4b;
}
.service-annonce .msg-annonce .msg1, .msg2, .msg3{
  font-weight: 600;
  color:#bc0a0a;
 }
 .service-Element{
   margin-left: auto;
   margin-right: auto;
   padding:100px;
   width: 85%;
   background-color: rgb(243, 243, 243);
   border-radius: 15px;
 }
 .service-Element div{
  box-shadow: 2px 5px 12px 2px #d3d3d3;
  background-color: #fff;
  display: inline-block;
  width: 160px;
  border-radius: 15px;
  margin-left: 90px;
 }
 .service-Element div:hover{
  box-shadow: 2px 5px 12px 2px #d3d3d3;
  background-color: rgb(248, 212, 212);
  transform: scale(1.07);
 }
 .service-Element a{
 text-decoration: none;
 color: rgb(114, 114, 114);
 font-weight: 600;
}
.service-Element span{
  font-size: 14px;
 text-align: center;
 display: block;
 margin-top: -25px;
 padding-bottom: 10px;
 
 }
 .service-Element a img{
  width: 150px;  
  padding: 35px;
}
 .apropos{
  padding-top: 80px;
  margin: 0px 30px 20px 50px;
 }
 .apropos h2{
  padding-bottom: 50px;
  font-weight: 300;
 }
 .apropos #content-apropos{
 float: left;
 width: 50%;
 margin-left: 40px;
 }
 .apropos .imgApropos{
  float: left;
  width: 600px;
  border-radius: 15px;
  box-shadow: 2px 4px 20px #d7d7d7;
 }
 #content-apropos .more{
  margin-top: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
 }
 .voirplus{
  background-color: #950014;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 10px;
 }
 .voirplus:hover{
  background-color: #fff;
  color: #950014;
  border: 3px solid #950014;
  text-decoration: none;
  padding: 13px 23px;
  transition: all .2s;
 
 }
 .service{
  clear: both;
 background-color: #f1f1f1;
 margin-top: 35%;
 padding-bottom: 150px;
 }
 .service h2{
  text-align: center;
  font-weight: 300;
  padding: 60px;
 }
 .service p{
  text-align: center;
  padding: 10px 0px;
 }
 .service .Imgservice{
  width: 100%;
  margin-top: 30px;
 margin-left: auto;
 margin-right: auto;
 
}
 .service .Imgservice div{
  display: inline-block;
  margin-left: 80px;
  box-shadow: 2px 4px 8px #d6d6d6;
  border-radius: 15px;
}
.service .Imgservice div:hover{
  box-shadow: 2px 4px 8px #c5c5c5;
  transition: all .3s;
  transform: scale(1.07);
}
.service .Imgservice div a{
  text-decoration: none;
  color: #242424;
}
.service .Imgservice div img{
  width: 400px;
  border-radius: 15px;
}
.service .Imgservice div span{
  display: block;
  padding: 0px 0px 10px 0px;
  margin-top: -30px;
  text-align: center;
  font-size: 17px;
  width:400px ;
}
.service .Imgservice div span h2{
  font-size: 23px; 
  font-weight: 600;
}
.service .more2{
  margin-top: 100px;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
 }
 .vision{
   margin-top: 0px;
   position: relative;
 }
 .vision .ImgVision{
  width: 100%;
  height: 750px;
 }
 .vision .detail-vision{
   position: absolute;
   top: 0;
   background-color: rgba(12, 12, 12, 0.600);
   height: 750px;
 }
 .detail-vision .vision-content{
   width: 58%;
   text-align: justify;
   color: #fff;
   padding: 75px;
 }
 .detail-vision .vision-content h2{
  color: #fff;
  font-size: 2.4em;
  margin-bottom: 35px;
  font-weight: 300;
}
.detail-vision .vision-content .more3{
  margin-top: 100px;
}
.more3 .voirplus{
  background-color: #fff;
  color: #950014;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 10px;
 }
 .more3 .voirplus:hover{
  background-color: #fff;
  color: #950014;
  text-decoration: none;
  padding: 13px 23px;
  transition: all .2s;
  border: none;
 
 }
