
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family:'Montserrat Thin',"Open Sans", sans-serif;
    font-size: 19px;
    color: #242424;
}
h2{font-size: 2.2em;
  color: #242424;}
#logos{
    background-color: #fff;
    height: 105px;
    padding: 10px;
    line-height: 80px;
}
#logos #logo1 img{
    width: 110px;
    height: auto;
    margin: 0px 0px 30px 200px;
}
#logoleft{
    float: right;
    margin: 15px 80px 0px 0px;
}
#logos #logoFb img, #logos #logoIg img{
    width: 30px;
    height: auto;
    margin-left: 15px;  
}
#logos #logoFb img:hover, #logos #logoIg img:hover{
  transform: scale(0.9);
}
#navigation{
    height: 75px;
    background-color: #721723;
   
    position: sticky;
    transition: all 0.5s;
    z-index: 997;
}
#navigation.header-scrolled, #navigation.header-fixed {
    height: 75px;
    background-color: #950014;
    opacity: 1;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    width: 100%;
  }
.menu{
    float: left;
    display: flex;
    list-style-type: none;
    line-height: 70px;
}
ul.menu li{
    margin-left: 180px;
  
}
ul.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    opacity: 0.8;
    padding: 5px;
}
li #link-contact{
  background-color: #fff;
  padding: 5px 15px 8px 15px;
  color:#bc0a0a;
  opacity: 1;
  border-radius: 10px;
  font-weight: 600;
}
li #link-contact:hover{
  background-color:#6f0312;
  border: 3px solid #fff;
  padding: 3px 15px 6px 12px;
  color:#ffffff;
  animation: none;
  transition: all .2s;
  
}
@keyframes bordure{
  from{border-bottom: 1px solid #fff;}
  to{border-bottom: 4px solid #fff;}
}
ul.menu .link a:hover{
  transition: all .5s;
  -moz-transition: all .2s;
  animation: bordure .2s cubic-bezier(0, 0, 0, 1.14);
  border-bottom: 4px solid #fff;
  opacity: 1;
}
ul.menu .link a.actif{
  border-bottom: 4px solid #fff;
  opacity: 1;
}
ul.menu .link a.actif:hover{
  animation: none;
}
/**dropdownmenu**/
.menu #dropdownElement {
 position: relative;
}
@keyframes display{
  from{top: 55px;}
  to{top: 70px;}
}
#dropdownElement .dropdownMenu {
  position: absolute;
  display: none;
  top: 70px;
  left: -50px;
  background-color: #9c1527;
  border-radius: 15px;
  width: 210px;
  line-height: 10px;
  padding-top: 25px;
  animation: display .5s cubic-bezier(0, 0.59, 0, 1.22);
}
#dropdownElement #linkMenu{
  padding:0px 5px 25px 5px;
  opacity:0.8;
 }
 #dropdownElement #linkMenu:hover{
  opacity:1;
 }
#dropdownElement .dropdownMenu li{
 list-style-type: none;
 margin-left: 0px;
 text-align: left;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
 text-align: center;
 padding: 15px 0px;
 width: 98%;
 transition: all .3s;
}
#dropdownElement .dropdownMenu li:hover{
  background-color: #c73d4fe7;
  border-radius: 10px;
 }
#dropdownElement .dropdownMenu li a{
  font-size: 15.5px;
  padding: 10px;
  opacity: 1;
 }
 #dropdownElement .dropdownMenu li a:hover{
  border: none;
  animation: none;
  opacity: 1;
  font-weight: 500;
  
 }
.back-to-top {
  position: fixed;
  display: none;
  background: #f82249;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
}

.back-to-top img {
    width: 40px;
    height: 40px;
  padding-top: 6px;
  z-index:  1;
}
.back-to-top:focus {
  background: #e0072f;
  outline: none;
}

.back-to-top:hover {
  background: #e0072f;
}
/*Css section banner*/
div.banner{
  position: relative;
  background: url('../img/Bannière1.png') no-repeat fixed #fce5e5;
  background-size: 100%;
  height: 520px;
}
.banner .Imgbanner{
  width: 100%;
  height: 600px;
 
}

.banner .msgBanner{
  position: absolute;
  top: 25%;
  left: 15px;
  font-size: 2.6em;
  font-family: Verdana, sans-serif;
  width: 50%;
}

.banner .msgBanner p{
  color:#bc0a0a;
  opacity: 0.9;
  margin-bottom: 7%;
}
.banner .msgBanner p .comm,.msgBanner p .abst{
  color:#770707;
  font-weight: 600;
  font-size: 1.1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner .msgBanner .link-service{
 font-size: 19px;
 text-decoration: none;
 color: #bc0a0a;
 text-align: center;
 background-color: #f8c426;
 border-radius: 15px;
 padding: 15px;
 margin-left:30%;
}
.banner .msgBanner .link-service:hover{
  background-color: #ffffff;
  border: 3px solid #bc0a0a;
  border-radius: 15px;
  padding: 13px;
  transition: all .2s;
 }
 .service-annonce{
  margin: 100px 0px;
}
.service-annonce .msg-annonce{
 text-align: center;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
 font-size: 22px;
 color:#4b4b4b;
}
.service-annonce .msg-annonce .msg1, .msg2, .msg3{
  font-weight: 600;
  color:#bc0a0a;
 }
 .service-Element{
   margin-left: auto;
   margin-right: auto;
   padding:100px;
   width: 85%;
   background-color: rgb(243, 243, 243);
   border-radius: 15px;
 }
 .service-Element div{
  box-shadow: 2px 5px 12px 2px #d3d3d3;
  background-color: #fff;
  display: inline-block;
  width: 165px;
  border-radius: 15px;
  margin-left: 90px;
 }
 .service-Element div:hover{
  box-shadow: 2px 5px 12px 2px #d3d3d3;
  background-color: rgb(248, 212, 212);
  transform: scale(1.07);
 }
 .service-Element a{
 text-decoration: none;
 color: rgb(114, 114, 114);
 font-weight: 600;
}
.service-Element span{
  font-size: 13px;
 text-align: center;
 display: block;
 margin-top: -25px;
 padding-bottom: 10px;
 
 }
 .service-Element a img{
  width: 150px;  
  padding: 35px;
}
 .apropos{
  padding-top: 80px;
  margin: 0px 30px 20px 50px;
 }
 .apropos h2{
  padding-bottom: 50px;
  font-weight: 500;
 }
 .apropos #content-apropos{
 float: left;
 width: 50%;
 margin-left: 40px;
 }
 .apropos .imgApropos{
  float: left;
  width: 600px;
  border-radius: 15px;
  box-shadow: 2px 4px 20px #d7d7d7;
 }
 #content-apropos .more{
  margin-top: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
 }
 .voirplus{
  background-color: #950014;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 10px;
 }
 .voirplus:hover{
  background-color: #fff;
  color: #950014;
  border: 3px solid #950014;
  text-decoration: none;
  padding: 13px 23px;
  transition: all .2s;
 
 }
 .service{
  clear: both;
 background-color: #f1f1f1;
 margin-top: 35%;
 padding-bottom: 150px;
 }
 .service h2{
  text-align: center;
  font-weight: 500;
  padding: 60px;
 }
 .service p{
  text-align: center;
  padding: 10px 0px;
 }
 .service .Imgservice{
  width: 100%;
  margin-top: 30px;
 margin-left: auto;
 margin-right: auto;
 
}
 .service .Imgservice div{
  display: inline-block;
  margin-left: 80px;
  box-shadow: 2px 4px 8px #d6d6d6;
  border-radius: 15px;
  overflow: hidden;
}
.service .Imgservice div:hover{
  box-shadow: 2px 4px 8px #c5c5c5;
  transition: all .3s;
  transform: scale(1.07);
}
.service .Imgservice div a{
  text-decoration: none;
  color: #242424;
}
.service .Imgservice div img{
  width: 400px;
  border-radius: 15px;
}
.Imgservice div img:hover{
  transform: scale(1.05);
  border-radius: 35px;
}
.service .Imgservice div span{
  display: block;
  padding: 0px 0px 10px 0px;
  margin-top: -30px;
  text-align: center;
  font-size: 17px;
  width:400px ;
}
.service .Imgservice div span h2{
  font-size: 23px; 
  font-weight: 600;
}
.service .more2{
  margin-top: 100px;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
 }
 .vision{
   margin-top: -1px;
   position: relative; 
 }
 .vision .ImgVision{
  width: 100%;
  height: 750px;
  transform: skewY(356.5deg); 
 }
 .vision .detail-vision{
   position: absolute;
   top: 0;
   background-color: rgba(12, 12, 12, 0.637);
   height: 750px;
 }
 .detail-vision .vision-content{
   width: 58%;
   text-align: justify;
   color: #fff;
   padding: 130px 80px 0px 80px;
 }
 .detail-vision .vision-content h2{
  color: #fff;
  font-size: 2.4em;
  margin-bottom: 35px;
  font-weight: 500;
}
.detail-vision .vision-content .more3{
  margin-top: 100px;
}
.more3 .voirplus{
  background-color: #fff;
  color: #950014;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 10px;
 }
 .more3 .voirplus:hover{
  background-color: #fff;
  color: #950014;
  text-decoration: none;
  padding: 13px 23px;
  transition: all .2s;
  border: none;
 }
 .expertise{
   background-color: #c5c5c5;
   margin-top: -4.5px;
   margin-bottom: 120px;
   padding: 140px 10px 10px 10px;
 }

 @keyframes animeF2{
   from{
     transform: scale(1.03);
   }
   50%{
     transform: scale(1.05);
  }
   to{ 
     transform: scale(1);
     font-weight: 500;
  }
 }
 .expertise h2{
  padding-top: 50px;
  margin-bottom: 30px;
  font-weight: 500;
}
.expertise .detail-expertise{
  float: right;
  margin-left: 50px;
  width: 45%;
  text-align: justify;
  color: #c92121;
}
.expertise img{
  width: 750px;
  margin-top: -30px;
  animation: animeF2 3s cubic-bezier(0.83, 1.28, 0.5, 1.37) infinite;
  transition: animation .5s;
}
@keyframes displayMsg1{
  from{
  transform: scale(1.02);
  font-weight: 600;
  }
  to{
   transform: scale(1);
   font-weight: 600;
  }
}
.expertise .para1, .para2, .para3{
  font-family: 'Montserrat Thin';
  font-size: 22px;
  background-color: #dfdede;
  padding: 15px 30px;
  margin-bottom: 8px;
  border-radius: 15px;
  animation: displayMsg1 3s infinite;
  z-index: 1;
  margin-right: 15px;
}
.expertise .check{
  display: inline;
  position: absolute;
  top: 40px;
  right: 97%;
}
.expertise .check img{
  width: 35px;
}
.Work-group{
  margin: 50px;
  margin-bottom: 700px;
 }
.Work-group img{
 width: 600px;
 float: right;
}
.Work-group div{
 text-align: justify;
 margin-top: 60px;
 margin-right: 25px;
 width: 55%;
 float: left;
 }
 .Work-group div h2{
  margin-bottom: 25px;
  font-size: 32px;
  text-align: center;
  font-weight: 450;
  }
  .CTAWebsite{
    clear: both;
    border-top: 4px solid #9c0621c7;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
  }
  .CTAWebsite img{
    margin-top: 100px;
    width: 650px;
  }
  .TextforCTA{
    float: right;
    width: 40%;
    margin-top: 200px;
    margin-right: 80px;
    text-align: justify;
    font-size: 22px;
    font-weight: 200;
  }
  .TextforCTA strong{
    font-weight: normal;
  }
  .TextforCTA span a{
    color: #bc0a0a;
    font-size: 22px;
    font-weight: 500;
  }
  .TextforCTA span a:hover{
   text-decoration: none;
  }
  .popular-service{
    margin-top: 150px;
   border: 4px solid #770707e1;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 15px;
  }
  .popular-service h2{
   font-size: 30px;
   color: #770707e1;
   text-align: center;
   font-weight: 500;
  }   
  .popular-service h2 span img{
    width: 40px;
    opacity: 0.9;
  }
  .popular-service .imgs{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .popular-service .imgs a{
    position: relative;
    display: inline-block;
  }
  .popular-service .imgs a img:hover{
   transform: scale(1.1);
   transition: all .5s;
  }
  .popular-service div img{
    width: 250px;
    height: 220px;
    border-radius: 15px;
    opacity: 0.9;
    margin-top: 40px;
    margin-right: 38px;
    box-shadow: 2px 4px 13px 2px #dadada;
   }
  .popular-service div p.service-name1{
    position: absolute;
    height: 80px;
    bottom: 4.6px;
    background-color: rgb(255, 255, 255);
    width: 87%;
    border-radius: 15px;
    font-size: 17px;
    text-align: center;
    color:#bc0a0a;
    font-weight: 500;
    padding-top: 10px;
   }
   .popular-service div p.service-name2{
    position: absolute;
    height: 80px;
    bottom: 4.6px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 87%;
    border-radius: 15px;
    font-size: 17px;
    text-align: center;
    color:#bc0a0a;
    font-weight: 500;
    padding-top: 10px;
   }
   .popular-service div p.service-name3{
    position: absolute;
    height: 80px;
    bottom: 4.6px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 87%;
    border-radius: 15px;
    font-size: 17px;
    text-align: center;
    color:#bc0a0a;
    font-weight: 500;
    padding-top: 10px;
   }
   .popular-service div p.service-name4{
    position: absolute;
    height: 80px;
    bottom: 4.6px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 87%;
    border-radius: 15px;
    font-size: 17px;
    text-align: center;
    color: rgb(179, 15, 15);
    font-weight: 500;
    padding-top: 10px;
   }
   .suggest-photo{
     margin: 200px 50px 50px 50px;
     background-color: rgb(238, 238, 238);
     border-radius: 15px;
     padding: 40px;
   }
   .suggest-photo img{
    width: 630px;
    border-radius: 15px;
  }
  .suggest-photo div{
    margin-top: 150px;
    float: left;
    width: 45%;
    margin-right: 60px;
    text-align: justify;
  }
  .suggest-photo div strong{
    color: #c92121;
  }
  .suggest-photo div a{
    color: #c92121;
  }
  .suggest-photo div a:hover{
    text-decoration: none;
  }
  .Equipe{
      max-width: 1200px;
      width: 80%;
      margin: 150px;
      margin-left: auto;
      margin-right: auto;
      border: 4px solid #96011c;
      border-radius: 15px;
      position: relative;
  }
  .Equipe-Content{
    overflow: hidden;
    position: relative;
    clear: both;
    padding:40px 35px 500px 35px;
    width: 100%;
    scroll-behavior: smooth;
  }
  .Equipe-Content.dragging{
   
    scroll-behavior: auto;
  }
  .Equipe-Content.dragging > div  {
   cursor: grab;
   user-select: none;
  }
  .Equipe .Equipe-t{
   color: #bc0a0a;
   font-weight: 500;
   text-align: center;
   margin: 40px 0px;
  }
  .icones-arrow{
   
    overflow: auto;
  }
  .icones-arrow img{
   background-color: #9c1527;
   width: 50px;
   background-color: none;
   z-index: 1;
   box-shadow: 1px 0px 20px 3px #858585;
   border-radius: 50px;
}
.icones-arrow img:hover{
  background-color: #be1d32;
 cursor: pointer;
  box-shadow: 1px 0px 20px 3px #fc8484;
  transition: all .5s;
}
  .icones-arrow .left{
  position: absolute;
  top: 290px;
  left: -25px;
}
.icones-arrow .right{
    position: absolute;
    top: 290px;
    right: -25px;
  }
  .Equipe .profil{
    display: flex;
    padding-right: 10%;
    position: absolute;
    left: 8px;
   
  }
  .Equipe .profil div{
    box-shadow: 1px 0px 20px 3px #c4c4c4;
    border-radius: 15px;
    margin-left: 60px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
  }
  .Equipe .profil div div.grades{
    border: none;
    background-color: #fff;
    margin-left: 0px;
    height: 100px;
    border-radius: 0px 0px 12px 12px;
  }
  .Equipe .profil div div.grades h2{
   font-size: 20px;
   font-weight: 500;
   color: #950014;
   text-align: center;
   padding-top: 20px ;
   margin-bottom: 10px;
   text-transform: uppercase;
  }
  .Equipe .profil div div.grades span{
    font-size: 17px;
    text-align: center;
    display: block;
    font-weight: 500;
   }
   .Equipe .profil div div.grades .media-sociaux1{
    position: absolute;
    top: -45px;
    left: 95px;
    display: none;
   }
   .Equipe .profil div div.grades .media-sociaux2{
    position: absolute;
    top: -45px;
    left: 95px;
    display: none;
   }
   .Equipe .profil div div.grades .media-sociaux3{
    position: absolute;
    top: -45px;
    left: 95px;
    display: none;
   }
   .Equipe .profil .administrator div.grades .media-sociaux4{
    position: absolute;
    top: -45px;
    left: 95px;
    display: none;
   }
   .Equipe .profil .cm div.grades .media-sociaux5{
    position: absolute;
    top: -45px;
    left: 95px;
    display: none;
   }
   @keyframes transit{
     from{top: -35px;}
     to{top: -45px;}
   }
   
   .Equipe .profil .media-sociaux1, .profil .media-sociaux2, .profil .media-sociaux3, .profil .media-sociaux4, .profil .media-sociaux5{
     animation: transit .5s cubic-bezier(0, 0.59, 0, 1.22);  
   }
  
   .Equipe .profil div div.grades img{
    width: 32px;
    border-radius: 50px;
    margin-left: 10px;
    box-shadow: 1px 0px 20px 3px #1b1b1b;
   }
  .Equipe .profil div > img:first-child {
    width: 280px;
    height: 250px;
    border-radius: 12px 12px 0px 0px;
  }

  /*Fin style page d'accueil*/

  /*Page2 service*/
  .bannerService{
    background: url('../img/banniereService.jpg') no-repeat;
    background-size: 100%;
    height: 350px;
    opacity: 0.9;
  }
  .bannerService .bannerMsg{
    text-align: center;
    padding-top: 120px;
    font-size: 4em;
    color: #fff;
    opacity: 1;
  }
  .message1{
    margin: 60px;
    text-align: center;
    font-size: 1.2em;
  }
  .message1 p:first-child{
    margin: 30px 0px;
    color: #e68200;
    font-weight: 500;
    font-size: 1.2em;
  }
  .message1 p:last-child strong{
    color: #950014;
  }
  #services{
    margin-top: 150px;
  }
  #services p{
    text-align: center;
    padding: 10px 0px;
   }
   #services .Imgservice{
    width: 100%;
    margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
  
  }
   #services .Imgservice div{
    display: flex;
    width: 80%;
    margin-top: 80px;
    margin-left: 80px;
    background-color: #f7f4f4;
    box-shadow: 2px 4px 8px #d6d6d6;
    border-radius: 15px;
    overflow: hidden;
    
  }
  #services .Imgservice div:hover{
    box-shadow: 2px 4px 8px #c5c5c5;
    transition: all .3s;
    transform: scale(1.05);
  }
  #services .Imgservice div a{
    text-decoration: none;
    color: #bc0a0a;
    font-weight: 500;
  }
  #services .Imgservice div img{
    width: 400px;
    border-radius: 15px;
  }
  #Imgservice div img:hover{
    transform: scale(1.05);
    border-radius: 35px;
  }
  #services .Imgservice div span{
    display: block;
    float: right;
    padding-left: 35px;
    margin-top: -30px;
    text-align: justify;
    font-size: 17px;
    width: 550px ;
  }
  #services .Imgservice div span h2{
    font-size: 23px; 
    font-weight: 600;
    color: #bc0a0a;
  }
    footer{
   margin-top: 200px;
   background-color: #fce6e9;
 }
 footer .f-logo{
   float: left;
   width: 35%;
   margin: 50px 0px 0px 150px;
 }
 footer .f-logo .f-img{
  width: 120px;
  margin-bottom: 30px;
}
footer .f-logo .social-medias{
  clear: both;
  margin-top: 40px;
}
footer .f-logo .social-medias img{
 width: 40px;
 margin-right: 25px;
}
footer .f-logo .social-medias img:hover{
  transform: scale(0.9);
}
footer .useful-links{
  float: left;
  margin: 120px 0px 0px 135px;
}
footer .services{
  float: left;
  margin: 120px 0px 150px 135px;
}
footer .services .dropdown-List span:hover{
 font-weight: 600;
 cursor: pointer;
}
footer .services .dropdown-List img{
  width: 13px;
}
@keyframes anim{
  from{
    height: 70px;
    opacity: 0.8;
  }
  to{
    height: initial;
    opacity: 1;
  }
}
footer .services .dropdown-List .Liste{
  display: none;
  margin: 10px 0px;
  transition: all .5s;
  animation: anim .2s cubic-bezier(.86,0,.07,1);
 }
footer .useful-links h2, footer .services h2{
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .useful-links ul, footer .services ul{
  list-style-type: none;
}
footer .useful-links a, footer .services a{
  text-decoration: none;
  color: #242424;
}
footer .useful-links a:hover, footer .services a:hover{
  border-bottom: 2px solid #242424;
  font-weight: 600;
}
footer .Contact{
  clear: both;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
footer .Contact a{
  background-color: #950014;
  padding: 30px 20px 10px 20px;
  border-radius: 15px;
  margin-left: 50px;
  position: relative;
  color: #fff;
  text-decoration: none;
 }
 footer .Contact a:hover{
  background-color: #6b0412;
  transition: all .5s;
 }
footer .Contact img{  
 width: 40px;
 margin-right: 5px;
}
footer .Kash-copyright{
  background-color: #950014;
  padding: 40px;
  margin-top: 70px;
}
footer .Kash-copyright strong{
  text-align: center;
  display: block;
  color: #fff;
  font-weight: 300;
  opacity: 0.8;
}